*{
    box-sizing: border-box;
}
.navbar .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important; 
}

.post-ad{
    width: 100%;
    margin: 0 auto;
}

.post-ad > h5{
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.ad-details{
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
    margin: 10px auto;
}

.ad-details > h5 {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid  black;
}

.some-details{
    padding: 20px;
    border-bottom: 1px solid black;

}

.some-details > h5{
    text-transform: uppercase;
    font-weight: bold;
}

input{
    width: 100%;
}

.post-now{
    padding: 20px;
}

.post-Btn{
    color: white;
    background-color: #072F34;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
}

small{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-btns{
    display: flex;
    flex-direction: row;
    
}
.radio-btns > input{
    width: 50px;
    margin: 0px 10px;
    height: 50px;
    display: relative;
}

.radio-btns > span{
    position: absolute;
    top: 72.5%;
    left: 13.5%;
    transform: translate(-50%, -50%);
}


#description
    {
        resize: none;
      }
