*{
    box-sizing: border-box;
}

.navbar .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;   
}

.details{
    border: 1px solid black;
    text-align: left;
}

.price{
    border: 1px solid black;
    text-align: left;

}