.carousel-img{
    width: 100%;
}

.carousel {
    margin: 20px 0px 20px 0;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.navbar .container .collapse  {
    justify-content: flex-end;
}

.navbar-nav{
    display: flex;
    /* align-items: center; */
}

.sellBtn{
    position: relative;
}

.centered{
    position: absolute;
    width: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 991px){
    .centered {
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translate(-50%, -50%);

    }
}
@media only screen and (max-width: 767px){
    .centered {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);

    }
}

@media only screen and (max-width: 425px){
    .centered {
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translate(-50%, -50%);

    }
}
@media only screen and (max-width: 325px){
    .centered {
        position: absolute;
        top: 50%;
        left: 14%;
        transform: translate(-50%, -50%);

    }
}
.centered > span {
    color: black;
}
 
.modal-header {
    display: flex;
    flex-direction: column;
}

.tag-line{
    text-align: center;
}

.fa-envelope{
    margin-right: 10px;
}

.continue{
    text-align: center;
}

/*
.modal-header.privacy {
    text-align: center;
} */

.login-account{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    /* height: 300px;  */
}

.login-account a{
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    font-weight: bolder;
    height: 50px;
}

.login-account a:hover{
    color: black;
    border: 4px solid black;
}

.privacy {
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.modal-header2{
    padding: 10px 20px;
    text-align: center;
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-header2 img{
    margin: 20px auto;
}

.modal-header2.mb-3{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#error, #login-error{
    font-weight: bold;
    color: red;
    
}




.mb-3 label{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mb-3 button{
    width: 100%;
    margin-top: 40px;
    border-radius: 2px;
}

.modal-header2 #modal-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#ads{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* width: 80%; */
    
}

.card{
    margin: 15px;
    height: 100px;    
}

.card-img-top{
    height: 161px;
}
a{
    text-decoration: none;
}

.card-body{
    text-decoration: none;
}

.card-title{
    text-decoration: none;
    color: black;
}